[Unit]
Description=Enable SIM7600 GPS
After=network.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/daniel/rpi-datalogger/.venv/bin/python3 /opt/sim7600/enable-gps.py

[Install]
WantedBy=multi-user.target
